-- MySQL dump 10.13  Distrib 8.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: mymusic
-- ------------------------------------------------------
-- Server version	8.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bannhac`
--
SET FOREIGN_KEY_CHECKS=0;
DROP TABLE IF EXISTS `bannhac`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bannhac` (
  `idbannhac` int NOT NULL AUTO_INCREMENT,
  `tenbannhac` varchar(100) NOT NULL,
  `theloai` varchar(50) DEFAULT NULL,
  `idnhacsi` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT (now()),
  PRIMARY KEY (`idbannhac`),
  KEY `idnhacsi` (`idnhacsi`),
  CONSTRAINT `bannhac_ibfk_1` FOREIGN KEY (`idnhacsi`) REFERENCES `nhacsi` (`idnhacsi`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bannhac`
--

LOCK TABLES `bannhac` WRITE;
/*!40000 ALTER TABLE `bannhac` DISABLE KEYS */;
/*!40000 ALTER TABLE `bannhac` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banthuam`
--

DROP TABLE IF EXISTS `banthuam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `banthuam` (
  `idbanthuam` int NOT NULL AUTO_INCREMENT,
  `idbannhac` int DEFAULT NULL,
  `idcasi` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT (now()),
  `ngaythuam` timestamp NULL DEFAULT NULL,
  `ngaysanxuat` timestamp NULL DEFAULT NULL,
  `thoiluong` time DEFAULT NULL,
  `lyrics` text,
  `file_path` varchar(50) DEFAULT NULL,
  `ghichu` text,
  PRIMARY KEY (`idbanthuam`),
  KEY `idbannhac` (`idbannhac`),
  KEY `idcasi` (`idcasi`),
  CONSTRAINT `banthuam_ibfk_1` FOREIGN KEY (`idbannhac`) REFERENCES `bannhac` (`idbannhac`),
  CONSTRAINT `banthuam_ibfk_2` FOREIGN KEY (`idcasi`) REFERENCES `casi` (`idcasi`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banthuam`
--

LOCK TABLES `banthuam` WRITE;
/*!40000 ALTER TABLE `banthuam` DISABLE KEYS */;
INSERT INTO `banthuam` VALUES (2,2,2,'2025-03-26 05:38:28',NULL,NULL,NULL,NULL,NULL,NULL),(3,3,1,'2025-03-26 05:38:28',NULL,NULL,NULL,NULL,NULL,NULL),(5,5,4,'2025-03-26 05:38:28',NULL,NULL,NULL,NULL,NULL,NULL),(13,1,5,'2025-03-26 14:37:47','2025-03-25 17:00:00',NULL,'03:45:00',NULL,'DuKichSongThaoDoNhuan.mp3',''),(14,12,17,'2026-02-28 05:28:51','2026-02-27 17:00:00',NULL,'00:00:00','Th├┤i kß╗ç ─æi','recording_1772256531.mp3','');
/*!40000 ALTER TABLE `banthuam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `casi`
--

DROP TABLE IF EXISTS `casi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `casi` (
  `idcasi` int NOT NULL AUTO_INCREMENT,
  `tencasi` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Ngaysinh` date DEFAULT NULL,
  `Sunghiep` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `created_at` timestamp NULL DEFAULT (now()),
  `anhdaidien` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`idcasi`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `casi`
--

LOCK TABLES `casi` WRITE;
/*!40000 ALTER TABLE `casi` DISABLE KEYS */;
/*!40000 ALTER TABLE `casi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favorites`
--

DROP TABLE IF EXISTS `favorites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `favorites` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idbanthuam` int DEFAULT NULL,
  `iduser` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idbanthuam` (`idbanthuam`),
  CONSTRAINT `favorites_ibfk_1` FOREIGN KEY (`idbanthuam`) REFERENCES `banthuam` (`idbanthuam`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favorites`
--

LOCK TABLES `favorites` WRITE;
/*!40000 ALTER TABLE `favorites` DISABLE KEYS */;
/*!40000 ALTER TABLE `favorites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhacsi`
--

DROP TABLE IF EXISTS `nhacsi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhacsi` (
  `idnhacsi` int NOT NULL AUTO_INCREMENT,
  `tennhacsi` varchar(100) NOT NULL,
  `ngaysinh` date DEFAULT NULL,
  `tieusu` text,
  `created_at` timestamp NULL DEFAULT (now()),
  `Gioitinh` varchar(50) DEFAULT NULL,
  `Quequan` varchar(100) DEFAULT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idnhacsi`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhacsi`
--

LOCK TABLES `nhacsi` WRITE;
/*!40000 ALTER TABLE `nhacsi` DISABLE KEYS */;
/*!40000 ALTER TABLE `nhacsi` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-12  5:21:40
SET FOREIGN_KEY_CHECKS=1;