Flask==2.3.3
mysql-connector-python==8.1.0
pymysql==1.1.0
python-dotenv==1.0.0
Flask-WTF==1.2.1
Flask-Paginate==2024.4.8
Flask-Cors==4.0.0
Werkzeug==2.3.7
google-genai==0.2.0
gunicorn==21.2.0
cryptography==41.0.7