Flask==2.3.3
Flask-Paginate==2024.4.12
Flask-WTF==1.2.1

mysql-connector-python==8.3.0
PyMySQL==1.1.0

google-generativeai==0.8.4

python-dotenv==1.0.1

Pillow==10.2.0

requests==2.31.0

gunicorn==21.2.0

